
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <ul class="nav navbar-nav">
    <li class="success"><a href="/">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">Teacher
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/teachers"> Teacher List</a></li>
        <li><a href="/teachers/add"> Add Teacher</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">Student
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/students"> Student List</a></li>
        <li><a href="/students/add">Add Student</a></li>
      </ul>
    </li>
    <li><a href="/subjects">Subject</a></li>
  </ul>
