<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> seqintro</title>
  </head>
  <body>
    <h1> Add Student Data </h1>
    <br>
    <br>
    <a href="/students"> Show All Data </a>
    <form action="/students" method="post">
          First Name:
      <input type="text" name="first_name" placeholder="your first name"><br>
      Last Name:
    <input type="text" name="last_name" placeholder="your last name"><br>
    Email:
    <input type="text" name="email" placeholder="your email"><br>
    Jurusan:
    <input type="text" name="jurusan" placeholder="your jurusan"><br>
      <button type="submit"> submit </button>
    </form>
  </body>
</html>
