<!DOCTYPE html>
<html>
  <head>
    <title> Release 2 </title>
  </head>
  <body>
    <h1>** Welcome User to ACADEMICA APP ** </h1>
    <% if(activeUser === undefined) { %>
      <p>You have not login yet</p>
      <a href="/login"> Login </a>
    <% } else { %>
      <p>You've already login </p>
      <a href="/dashboard"> Dashboard </a>
    <% }
    %>
  </body>
</html>
