<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> seqintro </title>
  </head>
  <body>
    <h1> WELCOME USER, PLEASE CHOOSE YOUR PREFERENCE: </h1>
    <a href="/teachers">Teachers List</a>
    <a>|</a>
    <a href="/subjects">Subjects List</a>
    <a>|</a>
    <a href="/students">Students List</a>
  </body>
</html>
