<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='style.css' />
    <title> seqintro </title>
  </head>
  <body>
<br>
<br>
 <h1> SUBJECT DATA </h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
            <th> Subject Name </th>
            <th> Teacher Name </th>
          </tr>
        </thead>
  <tbody>
      <% panggilData.forEach(subject => { %>
        <tr>
          <td> <%= subject.id %></td>
          <td> <%= subject.subject_name%></td>
          <td>
            <% subject.Teachers.forEach(info =>{%>
              <%= info.first_name + info.last_name %><br>
            <% })%>
            </td>
          <td><a href="/subjects/<%= subject.id%>/enrolledstudents">Enrolled Students</a></td>
        </tr>
      <%})%>
      </tbody>
    <table>
        </body>
      </html>
